<nav>
    <ul>
        <li><a href="/index">Início</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/cercas">Cercas</a></li>
        <li><a href="/admins">Admins</a></li>
        <li><a href="/admin/create">Criar Admin</a></li> <!-- Adicionado -->
    </ul>
</nav>