<!DOCTYPE html>
<html>
<head>
    <title>Página Inicial</title>
</head>
<body>
    <%- include('/home/node/app/views/cabecalho.ejs') %>
    <h1>Página Inicial</h1>
    <p>Calcule a Área de uma cerca em forma de triacontagono. Se a Área for maior que 200 metros quadrados, É uma cerca grande. Se for menor que 200 metros quadrados, É uma cerca pequena.</p>
    <h2>Digite abaixo os dados:</h2>
    <form action="/resposta" method="get">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome"><br>
        <label for="lado">Lado:</label><br>
        <input type="number" id="lado" name="lado"><br>
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id"><br>
        <input type="submit" value="Calcular">
    </form>
</body>
</html>