<% if (messages.error) { %> 
  <p><%= messages.error %></p> 
<% } %>

<form action="/admin/login" method="post">
  <div>
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required>
  </div>
  <div>
      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" required>
  </div>
  <div>
      <input type="submit" value="Login">
  </div>
</form>