<!DOCTYPE html>
<html>
<head>
    <title>Resposta</title>
</head>
<body>
    <%- include('/home/node/app/views/cabecalho.ejs') %>
    <h1>Resultado</h1>
    <p>A área da cerca é: <%= area %> metros quadrados.</p>
    <p>A cerca é <%= area > 200 ? 'grande' : 'pequena' %>.</p>
</body>
</html>